body {
    background-color:#e5d9d9;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    justify-content: center;
    align-items: center;
}

.header {
    border-bottom: 10px solid #815E2A;;
}

h1 {
    margin: 0 auto;
    text-align: center;
    background-color: #fdebeb;
    padding: 20px;
}

/* LOGO */
#logo {
    height: 300px;
    width: 400px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* MAIN CONTAINER */
.main-container {
    margin-top: 0px;
}

/* BUTTONS */
nav li {
    display: flex;
    background-color: #fdebeb;
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    margin: 0px 20px 25px 20px;
    padding: 25px 10px 25px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.1s;
}
li {
    width: 400px;
    height: 120px;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    text-decoration: none;
}

li:hover {
    box-shadow: 1px 5px 15px darkgray;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: center;
   
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
}