<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management Dashboard</title>
    <link href="/css/output.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

</head>

<body>
    <div class="header">
        <h1>Welcome to the Hotel Management System</h1>
    </div>

    {{!-- LOGO SECTION --}}
    <div class="logo-container">
        <img id="logo" src="/img/hospitifyLogo.png" alt="">
    </div>

    {{!-- MAIN CONTAINER SECTION --}}
    <div class="main-container">

    {{!-- NAVIGATION BUTTONS --}}
        <nav>
            <ul>
                <li><a href="/room-service">Room Service</a></li> 
                <li><a href="/room-management">Room Management</a></li>
            </ul>
            <ul>
                <li><a href="/payment">Payment</a></li>
                <li><a href="/parking">Parking</a></li>
            </ul>
        </nav>

    </div>

    
</body>
</html>
