<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management Dashboard</title>
    <link rel="stylesheet" href="home.css">

    <style>
        
        body {
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }

        nav {
            display: flex;
            background-color: green;
        }

        a {
            text-decoration: none;
        }

        li {
            background-color: red;
            text-decoration: none;
            margin: 10px;
        }

        ul {
            text-decoration: none;
        }

    </style>

</head>

<body>
    <h1>Welcome to the Hotel Management System</h1>

    <img src="/img/hospitifyLogo.png" alt="">

    <nav>
        <ul>
            <li><a href="/room-service">Room Service</a></li>
            <li><a href="/room-management">Room Management</a></li>
            <li><a href="/payment">Payment</a></li>
            <li><a href="/parking">Parking</a></li>
        </ul>
    </nav>


</body>
</html>
